$background-color_1: #6f7531;

/* <-----> About Page Styles <-----> */
.pages-tabs {
  .MuiButtonBase-root {
    color: $text_black;
  }
  .MuiTabs-flexContainer {
    justify-content: space-between;
  }
  .Mui-selected {
    background-color: $background-color_1;
    border-radius: 8px;
    color: $text_white;
  }
}
