/* <-----> HomePage Styles <----> */
.home-quality-section,
.home-filter-section {
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}

.home-quality-section div:nth-child(2),
.home-quality-section div:nth-child(3),
.home-quality-section div:nth-child(4) {
  border-left: 1px solid #eda592;
}

@media (max-width: 768px) {
  .home-quality-section div:nth-child(3) {
    border: none;
  }
}

.home-testimonial-section .slick-slide {
  padding: 12px;
}

.home-filter-section .MuiFormControl-root {
  min-width: 136px;
  width: fit-content;
}
.home-filter-section .MuiOutlinedInput-notchedOutline {
  border: none;
}

.filter-date-count .MuiOutlinedInput-root {
  width: 80px;
}

.home-tours-section .slick-prev {
  left: -4px;
  z-index: 9;
  top: 60%;
  background-color: black;
  background: #000000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 2px;
}
.home-tours-section .slick-next {
  right: -4px;
  z-index: 9;
  top: 60%;
  background-color: black;
  background: #000000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 2px;
}
.home-tours-section .slick-prev:before {
  opacity: 100%;
  font-size: 16px;
}
.home-tours-section .slick-next:before {
  opacity: 100%;
  font-size: 16px;
}

/* <-----> About Page Styles <-----> */
.about-us-tabs .MuiTabs-flexContainer {
  justify-content: space-between;
}

.about-us-tabs .Mui-selected {
  background-color: #6f7531;
  border-radius: 8px;
  color: #ffffff;
}

/* <-----> React Date Picker <-----> */
.react-datepicker::placeholder {
  color: #000000;
  font-weight: 500;
  font-size: 16px;
}

.react-datepicker {
  border: none;
  background: #ffffff;
  border-radius: 12px;
}
.react-datepicker__header {
  background-color: #ffffff;
  border: none;
}

.react-datepicker-year-header {
  color: #eda592 !important;
}

.react-datepicker__month-container {
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}

.react-datepicker__month .react-datepicker__month-text,
.react-datepicker__month .react-datepicker__quarter-text {
  width: 96px !important;
}
.react-datepicker__month-text {
  font-family: "Poppins", sans-serif;
  padding: 8px 16px;
  font-size: 14px;
  text-align: center;
}

.react-datepicker__day--keyboard-selected,
.react-datepicker__month-text--keyboard-selected,
.react-datepicker__quarter-text--keyboard-selected,
.react-datepicker__year-text--keyboard-selected {
  background-color: #ffeae4 !important;
}

/* <-----> MUI Styles <-----> */
.MuiPagination-ul .Mui-selected {
  background-color: #000000;
  color: #ffffff;
}

.MuiPopper-root {
  z-index: 9999;
}
