$color_2: #eda592;
$font-family_1: "Poppins", sans-serif;
$background-color_2: #ffeae4;
$background-color_3: #000000;
$background-color_4: rgba(237, 165, 146, 0.2);

/* <-----> React Date Picker <-----> */

.regular-shadow {
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}

/* <-----> MUI Styles <-----> */
.MuiPagination-ul {
  .Mui-selected {
    background-color: $background-color_3;
    color: $text_white;
  }
}

.MuiPopper-root {
  z-index: 9999;
}

.css-1encbx2-MuiButtonBase-root-MuiMenuItem-root {
  text-align: center;
  padding: 8px 32px !important;
  &:hover {
    background-color: $background-color_4 !important;
  }
}

.text-area {
  & .css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input {
    height: 120px;
  }
}

.Mui-expanded,
.MuiAccordionSummary-content {
  margin: 0 !important;
  border-radius: 4px;
}

.css-sh22l5-MuiButtonBase-root-MuiAccordionSummary-root {
  padding: 14px;
}

.MuiAccordionSummary-expandIconWrapper {
  & svg {
    font-size: 24px;
  }
}

.MuiButton-containedPrimary {
  background-color: #000000;

  &:hover {
    background-color: #000000ce;
  }
}

.MuiButton-outlinedPrimary {
  color: #000000;
  border-color: #000000;

  &:hover {
    border-color: #000000;
  }
}

.expanded-section-title {
  & .MuiAccordion-root {
    background-color: transparent;
    box-shadow: none;

    & .css-sh22l5-MuiButtonBase-root-MuiAccordionSummary-root.Mui-expanded {
      min-height: fit-content;
    }
  }
}

.css-sh22l5-MuiButtonBase-root-MuiAccordionSummary-root.Mui-expanded {
  min-height: fit-content;
  border-radius: 8px;
}
