@use "sass:map";
/* <-----> React Date Picker <-----> */

.pages-tabs {
  .MuiButtonBase-root {
    color: $text_black;
  }

  .MuiTabs-flexContainer {
    justify-content: space-between;
    gap: 20px;
  }

  .Mui-selected {
    background-color: $color_dark_green;
    border-radius: 8px;
    color: $text_white !important;
  }
}

.regular-shadow {
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}

/* <-----> MUI Styles <-----> */
.MuiPagination-ul {
  .Mui-selected {
    background-color: $bg_black !important;
    color: $text_white !important;
  }
}

.MuiPopper-root {
  z-index: 9999;
}

.css-1encbx2-MuiButtonBase-root-MuiMenuItem-root {
  text-align: center;
  padding: 8px 32px !important;
  &:hover {
    background-color: $bg_gray_237 !important;
  }
}

.text-area {
  & .css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input {
    height: 120px;
  }
}

.Mui-expanded,
.MuiAccordionSummary-content {
  margin: 0 !important;
  border-radius: 4px;
}

.css-sh22l5-MuiButtonBase-root-MuiAccordionSummary-root {
  padding: 14px;
}

.MuiAccordionSummary-expandIconWrapper {
  & svg {
    font-size: 24px;
  }
}

.MuiButton-containedPrimary {
  background-color: $bg_black !important;

  &:hover {
    background-color: rgba(0, 0, 0, 0.808) !important;
  }
}

.expanded-section-title {
  & .MuiAccordion-root {
    background-color: transparent;
    box-shadow: none;

    & .css-sh22l5-MuiButtonBase-root-MuiAccordionSummary-root.Mui-expanded {
      min-height: fit-content;
    }
  }
}

.css-sh22l5-MuiButtonBase-root-MuiAccordionSummary-root.Mui-expanded {
  min-height: fit-content;
  border-radius: 8px;
}
