@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide scrollbar for webkit browsers */
::-webkit-scrollbar {
  display: none;
}

.MuiPopper-root {
  z-index: 9999;
}

a {
  text-decoration: none;
}

.MuiOutlinedInput-notchedOutline {
  border: none;
}

.react-datepicker::placeholder {
  color: #000000;
  font-weight: 500;
  font-size: 16px;
}
