@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

/* Hide scrollbar for webkit browsers */
::-webkit-scrollbar {
  display: none;
}

body {
  width: 100vw;
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
}

.regular-shadow {
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}
