@use "sass:map";

// Hotel Service page styles
.hotels-page {
  & .hotel-filter-section {
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    & .MuiFormControl-root {
      min-width: 148px;
      width: fit-content;
    }

    & .MuiOutlinedInput-notchedOutline {
      border: none;
    }

    & .MuiFormLabel-root {
      font-weight: 600;
      font-size: 14px;
      font-family: "Poppins", sans-serif;
      color: $bg_black;
    }
  }
}
