.tour-details-page {
  & .thumbnails-section {
    & .slick-slide {
      padding: 4px;
    }
  }

  & .related-section {
    & .slick-slide {
      padding: 12px;
    }
  }

  & .tour-details-maps {
    & li::marker {
      font-size: 28px;
    }
  }
}
