// Text color variable
$text_black: #000000;
$text_white: #ffffff;
$color_dark_green: #6f7531;
$color_primary_pink: #eda592;
$font_family_poppins: "Poppins", sans-serif;

// Background color variable
$bg_white: #ffffff;
$bg_black: #000000;
$bg_peach: #ffeae4;
$bg_transparent_peach: rgba(237, 165, 146, 0.2);
$bg_gray_237: rgba(237, 165, 146, 0.2);
